<section class="about">
   <div class="wrapper">
      <div class="about__title">
         <h2>About Us</h2>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</span>
      </div>
      <div class="about__items">
         <div class="about__item">
            <div class="about__item-logo">
               <!--<i class="fal fa-globe"></i>-->
               <picture><source type="image/webp" srcset="img/internet.webp"><img src="img/internet.png" alt="">
               </picture>
            </div>
            
            <h3>Awesome Icons</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
         </div>
         <div class="about__item">
            <div class="about__item-logo"><picture><source type="image/webp" srcset="img/transfer.webp"><img src="img/transfer.png" alt=""></picture></div>
            <h3>One Page</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
         </div>
         <div class="about__item">
            <div class="about__item-logo"><picture><source type="image/webp" srcset="img/head.webp"><img src="img/head.png" alt=""></picture></div>
            <h3>Fully Responsive</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
         </div>
      </div>
   </div>
</section>