<section class="blog">
   <div class="wrapper">
      <div class="blog__title">
         <h2>Blog</h2>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</span>
      </div>
      <div class="blog__articles">
         <article>
            <div class="blog__item">
               <picture>
                  <source type="image/webp" srcset="img/seo.webp">
                  <img src="img/seo.png" alt="">
               </picture>
            </div>
            <div class="blog__item">
               <h3><a href="">SEO Quis Vestibulum</a></h3>
               <div class="blog__item-article">
                  <div class="blog__item-article-val">
                     <i class="fas fa-calendar-alt"></i>
                     <span>14.0702017</span>
                  </div>
                  <div class="blog__item-article-val">
                     <i class="far fa-file"></i>
                     <span>Development</span>
                  </div>
               </div>
               <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
            </div>
         </article>
         <article>
            <div class="blog__item">
               <picture>
                  <source type="image/webp" srcset="img/apple.webp">
                  <img src="img/apple.png" alt="">
               </picture>
            </div>
            <div class="blog__item">
               <h3><a href="">SEO Quis Vestibulum</a></h3>
               <div class="blog__item-article">
                  <div class="blog__item-article-val">
                     <i class="fas fa-calendar-alt"></i>
                     <span>14.0702017</span>
                  </div>
                  <div class="blog__item-article-val">
                     <i class="far fa-file"></i>
                     <span>Development</span>
                  </div>
               </div>
               <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
            </div>
         </article>
         <article>
            <div class="blog__item">
               <picture>
                  <source type="image/webp" srcset="img/ipad.webp">
                  <img src="img/ipad.png" alt="">
               </picture>
            </div>
            <div class="blog__item">
               <h3><a href="">SEO Quis Vestibulum</a></h3>
               <div class="blog__item-article">
                  <div class="blog__item-article-val">
                     <i class="fas fa-calendar-alt"></i>
                     <span>14.0702017</span>
                  </div>
                  <div class="blog__item-article-val">
                     <i class="far fa-file"></i>
                     <span>Development</span>
                  </div>
               </div>
               <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
            </div>
         </article>
      </div>
      <div class="works__btns"><a href="" class="works__btn">MORE VIEW</a></div>
   </div>
</section>