<section class="contact">
   <div class="wrap-cont">
      <div class="contact__title">
         <h2>Contact Us</h2>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</span>
      </div>
      <div class="contact__items">
         <div class="contact__item">
            <div class="contact__item-pic"><i class="fal fa-map-marker-alt"></i></div>
            <p>Nobinagar savar,Dhaka</p>
            <p>Bangladesh</p>
         </div>
         <div class="contact__item">
            <div class="contact__item-pic"><i class="fal fa-phone-alt"></i></div>
            <p>+8801743331996</p>
            <p>+8801928737807</p>
         </div>
         <div class="contact__item">
            <div class="contact__item-pic"><i class="far fa-envelope"></i></div>
            <p>quickmasud@gmail.com</p>
            <p>quickmasud@yahoo.com</p>
         </div>
      </div>
      <form action="" class="contact__form">
         <input type="text" name="name" placeholder="Your NAME">
         <input type="email" name="mail" placeholder="Your Email">
         <textarea name="message" cols="30" rows="4" placeholder="Write Massage"></textarea>
         <button type="submit" name="send" class="contact__form-btn">send</button>
      </form>
   </div>
</section>