<header class="menu">
   <div class="wrapper">
      <div class="menu-flex">
         <div class="logo">
            <a href="">
               <picture><source type="image/webp" srcset="img/logo.webp"><img src="img/logo.png" alt="Your logo"></picture>
            </a>
         </div>
         <div class="menu__btn"><i class="fas fa-bars"></i></div>
         <nav>
            <div class="menu-adapt">
               <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Servicing</a></li>
                  <li><a href="">Portfolio</a></li>
                  <li><a href="">Blog</a></li>
                  <li><a href="">Contact us</a></li>
               </ul>
               <form class="search">
                  <input type="text" name="search">
                  <button type="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>
         </nav>
      </div>
   </div>
</header>