<section class="price">
   <div class="wrapper">
      <div class="price__title">
         <h2>Pricing Plan</h2>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</span>
      </div>
      <div class="price__items">
         <div class="price__item">
            <div class="price__item-title">
               <h3>Free Trail</h3>
               <span><strong>00</strong>per month</span>
            </div>
            <ul>
               <li>30 Free Trail</li>
               <li>5 Free Projects</li>
               <li>PHP 5 Enabled</li>
               <li>24/7 Suports</li>
            </ul>
            <a href="" class="price__btn">ORDER NOW</a>
         </div>
         <div class="price__item">
            <div class="price__item-title">
               <h3>Basic</h3>
               <span><strong>50</strong>per month</span>
            </div>
            <ul>
               <li>30 Free Trail</li>
               <li>5 Free Projects</li>
               <li>PHP 5 Enabled</li>
               <li>24/7 Suports</li>
            </ul>
            <a href="" class="price__btn">ORDER NOW</a>
         </div>
         <div class="price__item">
            <div class="price__item-title">
               <h3>Ultimates</h3>
               <span><strong>99</strong>per month</span>
            </div>
            <ul>
               <li>30 Free Trail</li>
               <li>5 Free Projects</li>
               <li>PHP 5 Enabled</li>
               <li>24/7 Suports</li>
            </ul>
            <a href="" class="price__btn">ORDER NOW</a>
         </div>
      </div>
   </div>
</section>