<section class="services">
   <div class="wrapper">
      <div class="services__title">
         <h2>Our Services</h2>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</span>
      </div>
      <div class="services__items">
         <div class="services__item">
            <div class="services__item-logo"><i class="fas fa-mobile-alt"></i></div>
            <h3>Research</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
            <a href="" class="btn_black">READ MORE</a>
         </div>
         <div class="services__item">
            <div class="services__item-logo"><i class="fas fa-mobile-alt"></i></div>
            <h3>Portfolio</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
            <a href="" class="btn_black">READ MORE</a>
         </div>
         <div class="services__item">
            <div class="services__item-logo"><i class="fas fa-mobile-alt"></i></div>
            <h3>Support</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
            <a href="" class="btn_black">READ MORE</a>
         </div>
         <div class="services__item">
            <div class="services__item-logo"><i class="fas fa-mobile-alt"></i></div>
            <h3>Documentation</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
            <a href="" class="btn_black">READ MORE</a>
         </div>
         <div class="services__item">
            <div class="services__item-logo"><i class="fas fa-mobile-alt"></i></div>
            <h3>Development</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
            <a href="" class="btn_black">READ MORE</a>
         </div>
         <div class="services__item">
            <div class="services__item-logo"><i class="fas fa-mobile-alt"></i></div>
            <h3>Design</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
            <a href="" class="btn_black">READ MORE</a>
         </div>
      </div>
   </div>
</section>