<section class="works">
   <div class="wrapper">
      <div class="works__title">
         <h2>Latest Works</h2>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</span>
      </div>
      <div class="works__btns">
         <a href="" class="works__btn">ALL</a>
         <a href="" class="works__btn">WEB DESIGN</a>
         <a href="" class="works__btn">UI/UX DESIGN</a>
         <a href="" class="works__btn">MOCKUPS</a>
      </div>
      <div class="works__items">
         <div class="works__item">
            <picture>
               <source type="image/webp" srcset="img/hand-watch.webp">
               <img src="img/hand-watch.png" alt="">
            </picture>
         </div>
         <div class="works__item">
            <picture><source type="image/webp" srcset="img/one-day.webp"><img src="img/one-day.png" alt=""></picture>
         </div>
         <div class="works__item">
            <picture><source type="image/webp" srcset="img/Underwear.webp"><img src="img/Underwear.png" alt=""></picture>
         </div>
         <div class="works__item">
            <picture><source type="image/webp" srcset="img/flask.webp"><img src="img/flask.png" alt=""></picture>
         </div>
         <div class="works__item">
            <picture><source type="image/webp" srcset="img/vine.webp"><img src="img/vine.png" alt=""></picture>
         </div>
         <div class="works__item">
            <picture><source type="image/webp" srcset="img/bag.webp"><img src="img/bag.png" alt=""></picture>
         </div>
      </div>
      <div class="works__btns"><a href="" class="works__btn">VIEW ALL</a></div>
   </div>
</section>